In [78]:
import pandas as pd
import numpy as np

In [84]:
#Importacion de los dataframes
dfunemployment = pd.read_csv("unemployment analysis.csv", delimiter=",")
dfcountry = pd.read_csv("country information.csv", delimiter=",")
dfcontinents = pd.read_csv("continents.csv", delimiter=",")

In [85]:
#Modificacion del dataframe unemployment
dfmodified = pd.DataFrame()
for y in dfunemployment.columns[ 2 :  ]:
    dftemp  = dfunemployment.loc[ :  , ['Country Name','Country Code', y] ]
    dftemp['Year'] = y
    dftemp.columns = ['Country Name', 'Country Code', 'Value', 'Year']
    dftemp = dftemp.loc[ : , ['Country Name', 'Country Code', 'Year', 'Value'] ]
    
    dfmodified = pd.concat([dfmodified, dftemp])

In [86]:
#Merge entre los diferentes dataframes
df_union_1 = pd.merge(dfmodified,dfcountry[['country_alpha3_code','capital', 'country_demonym', 'total_area', 'population', 'currency_name', 'currency_symbol', 'lang_name']], left_on = "Country Code", right_on = "country_alpha3_code" , how = 'left')
df_union_2 = pd.merge(df_union_1, dfcontinents[['alpha-3', 'region', 'sub-region']], left_on = "Country Code", right_on = "alpha-3" , how = 'left')

In [89]:
#Eliminando columnas que tienen los datos de las llaves que se utilizaron para el merge que repiten datos innecesariamente
dffinal = df_union_2.drop(columns = ['country_alpha3_code', 'alpha-3'])

In [90]:
dffinal

,Country Name,Country Code,Year,Value,capital,country_demonym,total_area,population,currency_name,currency_symbol,lang_name,region,sub-region
0,Africa Eastern and Southern,AFE,1991,7.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1991,10.65,Kabul,Afghans,652230.0,38928346.0,Afghan Afghani,؋,Persian,Asia,Southern Asia
2,Africa Western and Central,AFW,1991,4.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,1991,4.21,Luanda,Angolans,1246700.0,32866272.0,Angolan Kwanza,Kz,Portuguese,Africa,Sub-Saharan Africa
4,Albania,ALB,1991,10.31,Tirana,Albanians,28748.0,2877797.0,Albanian Lek,L,Albanian,Europe,Southern Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7280,Samoa,WSM,2021,9.84,Apia,Samoans,2831.0,198414.0,Samoan Tala,WS$,English,Oceania,Polynesia
7281,"Yemen, Rep.",YEM,2021,13.57,Sanaa,Yemenis,527968.0,29825964.0,Yemeni Rial,﷼,Arabic,Asia,Western Asia
7282,South Africa,ZAF,2021,33.56,Cape Town,South Africans,1219090.0,59308690.0,South African Rand,R,Afrikaans,Africa,Sub-Saharan Africa
7283,Zambia,ZMB,2021,13.03,Lusaka,Zambians,752618.0,18383955.0,Zambian Kwacha,K,English,Africa,Sub-Saharan Africa
7284,Zimbabwe,ZWE,2021,5.17,Harare,Zimbabweans,390757.0,14862924.0,Zimbabwe Dollar,$,English,Africa,Sub-Saharan Africa